django==4.0.4
djangorestframework==3.13.1
psycopg2-binary==2.9.3
django-countries==7.3.2
django-debug-toolbar==3.5.0
djangorestframework-simplejwt==5.1.0
django-filter==21.1
drf-nested-routers==0.93.4
pillow==9.1.0
python-dotenv==0.20.0